/* body */
body{
  background: #f0b992
}
* {
    margin: 0;
    padding: 0;
     font-weight: bold;
    /* background-color: rgb(235, 230, 230); */
   
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  
}
.card {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  /* border: 1px solid rgb(241, 153, 204); */
  box-shadow: 1px 6px 12px -3px rgb(38 38 38);
  border-radius: 15px;
margin-bottom:30px;
background: rgb(255, 255, 255);
}
.card:hover .overlay {
  opacity: 1;
  transform: scale(1);
}
.card .overlay {
  position: absolute;
  background-color: rgba(86, 35, 34,0.884) ;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.3);
  opacity: 0;
  text-align: center;
  transition: transform 044 ease 0s;
  padding-right: 15px;
  padding-top: 50px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.overlay {
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: Sans-serif;
}
.overlay h3{
    padding-bottom: 15px;
}
.overlay p{
    padding-bottom: 15px;
}
.overlay button{
    margin-top: 50px;
    padding:10px;
    width: 150px;
    background-color: rgb(255, 0, 98);
    outline: none;
    border: none;
    border-radius: 15px;

}
.overlay button:hover{
    background: none;
    box-shadow:0 0 5px 5px   rgb(255, 0, 98);
   

    color: #fff;
 
}
.container .card img {
  transition: transform 0.8s ease;
  width: 300px;
  height: 300px;

}
.img3{
    width: 256px !important;
    height: 260px !important;
    padding-top:20px ;
    padding: 15px;
}

.card:hover img {
  transform: scale(1.1);
}
.baner{
    width: 100%;
}